.text-primary {
    color: #5664d2;
}

.text-green {
    color: #28c445 !important;
}

.text-red {
    color: #f56c6c !important;
}

.text-blue {
    color: #2b9ee0 !important;
}

.text-orange {
    color: #e6a23c !important;
}


.text-gray {
    color: #74788d;
}

.bg-primary {
    background-color: rgba(86, 100, 210, .25);
}

.badge-green {
    color: #1cbb8c;
    background-color: rgba(28, 187, 140, .18);
}

.badge-red {
    color: #ff3d60;
    background-color: rgba(255, 61, 96, .18);
}

.badge-orange {
    color: #FF9800;
    background-color: rgba(255, 152, 0, .18);
}

.badge-purple {
    color: #3852dd;
    background-color: rgb(101, 118, 200, .18);
}

.badge-blue {
    color: #2b9ee0;
    background-color: rgba(84, 158, 200, .18);
}

.badge-pink {
    color: #9C27B0;
    background-color: rgba(212, 110, 229, .18);
}

.badge-yellow {
    color: #f2c400;
    background-color: #fef1d5;
}

.badge-default {
    background-color: #fff;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #505d69;
}